.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  font-family: sans-serif;
  color: #0a182f;
  outline: 0;
  max-width: 500px;
}

p {
  margin: 0 5px;
  padding: 0;
  font-size: 18px;
}

button {
  outline: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.selected-date {
  border-bottom: solid 1px #e67b6c;
  margin-bottom: 8px;
}

.selected-date h3 {
  font-size: 30px;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.date-navigator {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 8px 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #e67b6c;
}

.days.top {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
} 

.days.bottom {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
} 

.day-as-string {
  width: calc(100% / 7);
  border: none;
  background-color: transparent;
  margin-top: 8px;
}

.day-as-string p {
  margin: 0;
  color: lightslategray;
  font-size: 16px
}

.day {
  width: calc(100% / 7);
  padding: 5px;
  border: none;
  background-color: transparent;
}

.day.current {
  color: #e67b6c;
}

.day.different-month {
  background-color: rgba(0, 0, 0, 0.1);
}

.to-date {
  border: 1px solid #e67b6c;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 16px;
  padding: 5px 16px;
}